
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

footer {
  background-color: #764A82;
  color: white;
  padding: 1rem;
  font-family: 'Roboto';
}
.copyright {
  text-align: center;
  font-family: 'Roboto';
  font-size: 1.2rem;

}
.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 60%;
}
.list {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  color: white;
}
.list li a svg {
  fill: white;
  transition: all .4s ease-in-out;
}
.list li a svg:hover {
  transform: scale(1.2);
}
.text {
  font-size: 1.1rem;

}
.contact__list {
  margin-top: 1rem;
}

.contact__list li {
  display: flex;
  align-items: center;
}
.contact__list li  a{
  margin-left: .5rem;
  color: white;
  text-decoration: none;
  transition: all .3s ease-in-out;

}
.contact__list li  a:hover {
  text-decoration: underline;
}

.contact__list li:first-child {
  margin-bottom: 0.5rem;
}

.contact__list li svg:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
