.navigation {
  display: flex;
}
.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__list-item {
  margin-left: 2rem;
  
}
.navigation__list-item a{
  text-decoration: none;
}
.navigation__list-item a .active {
  text-decoration: underline;
}