.cart__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: 80%;
}
@media  (max-width: 1024px) {
  .cart__wrapper {
    display: block;
  }
  .cart__wrapper div {
    margin-bottom: 1rem;
  }
}

@media  (max-width: 350px) {
  .cart__wrapper {
   width: 100%;
  }
 
}
@media  (max-width: 1024px) {
 
  .cart__wrapper div {
    margin-bottom: 1rem;
  }
}

.servises__header {
  text-align: center;
  font-size: 1.8rem;
}
@media  (max-width: 768px) {
  .servises__header {
    font-size: 1.5rem;
  }
  }