.work__text {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

@media  (max-width: 768px) {
  .work__text {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

@media  (max-width: 600px) {
  .work__text {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}
.work__list {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
}
@media  (max-width: 1024px) {
  .work__list {
    width: 90%;
  }
}
@media  (max-width: 600px) {
  .work__list  {
    width: 100%;
  }
}
 .work__list__item {
  width: 100%;
  padding: 0 4rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #dac3e8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

@media  (max-width: 1024px) {
  .work__list__item  {
    padding: 0 1rem;
  }
}
@media  (max-width: 600px) {
  .work__list__item > *  {
    width: 100% !important;
  }
}
.work__image__wrapper  {
  width: 60%;
}
.work__info__wrapper {
  width: 40%;
}
@media  (max-width: 768px) {
  .work__info__wrapper {
    margin-top: 3rem;
  }
}
@media  (max-width: 600px) {
  .work__info__wrapper {
    margin-top: 0;
    text-align: center;
    padding-bottom: 2rem;
  }
}

.work__list > *:hover {
  border: 1px solid #764A82;
} */
.work__image {
  width: 3rem;
  height: 3rem;
  margin-bottom: 2rem;
}

.work__info__wrapper h2 {
  margin-bottom: 1rem;
}
@media  (max-width: 320px) {
  .work__info__wrapper h2 {
    margin-bottom: .3rem;
    font-size: 1.2rem;
  }
}
.work__info__wrapper P {
  line-height: 2rem;
  margin-bottom: 1rem;
  color: #404040;
}
@media  (max-width: 320px) {
  .work__info__wrapper P {
   font-size: .9rem;
  }
}
.work__info__link {
  text-decoration: none;
  margin-left: 1rem;
  border-radius: 2rem;
  background-color: #764A82;
  padding: .5rem 1rem;
  color: white;
  font-size: 1rem;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
@media  (max-width: 768px) {
  .work__info__link {
    margin-left: 0;
  }
  
}
@media  (max-width: 600px) {
  .work__info__link {
    margin-left: 1rem;
  }
}
@media  (max-width: 320px) {
  .work__info__link {
    font-size: .8rem;
    padding: .5rem 1rem;
  }
}
.work__buttons-wrapper {
  display: flex;
  align-items: center;
}

@media  (max-width: 768px) {
  .work__buttons-wrapper  {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .work__buttons-wrapper > * {
    display: block;
    margin-bottom: 1rem;
  }
}

.work__info__link:hover {
  background-color: white;
  color: #764A82;
}

.work__info__button {
  text-decoration: none;
  border-radius: 2rem;
  background-color: #764A82;
  padding: .5rem 1rem;
  color: white;
  outline: none;
  border: none;
  font-size: 1rem;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
@media  (max-width: 320px) {
  .work__info__button  {
    font-size: .8rem;
    padding: .5rem 1rem;
  }
}
.work__info__button:hover {
  background-color: white;
  color: #764A82;
}
.padding {
  margin-bottom: 4rem;
}
/*quiz*/
.modal_quiz {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.7);
  z-index: 1000;
}
.modal_quiz--hide {
  display: none;
}
.content_quiz {
  background-color: #fefefe;
  padding: 2rem;
    margin: 0 auto;
    width: 90%;
    z-index: 2000;
    position: relative;
}
.content_quiz h2 {
  color: #404040;
  font-size: 1rem;
  margin-bottom: 1rem;
}
@media  (max-width: 450px) {
  .content_quiz h2 {
    font-size: .8rem;
  }
}
.content_quiz h2 span {
  color: #764A82;
  padding-left: 1rem;
  font-size: 1.2rem;
}
@media  (max-width: 450px) {
  .content_quiz h2 span {
    font-size: .9rem;
    padding-left: 0;
  }
}
.content_quiz h2 p {
  padding-left: 0;
  line-height: 2rem;
  color: #000000;
}
@media  (max-width: 450px) {
  .content_quiz h2 p {
    font-size: .9rem;
  }
}

.quiz__foto-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.quiz__foto-wrapper > * {
    width: 33%;
}
@media  (max-width: 600px) {
  .quiz__foto-wrapper > * {
    width: 100%;
  }
}
.quiz__close {
  width: 3rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  border:none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
@media  (max-width: 668px) {
  .quiz__close {
    width: 2rem;
  }
}
.quiz__info-wrapper {
width: 60%;
margin: 0 auto;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
padding: 2rem;
margin-bottom: 2rem;
}
@media  (max-width: 668px) {
  .quiz__info-wrapper {
    width: 100%;
    padding: 1.5rem;
  }
}
 
/*arne*/
.modal_arne {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.7);
  z-index: 1000;
}
.modal_arne--hide {
  display: none;
}
.content_arne {
  background-color: #fefefe;
  padding: 2rem;
    margin: 0 auto;
    width: 90%;
    z-index: 2000;
    position: relative;
}

.content_arne h2 {
  color: #404040;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.content_arne h2 span {
  color: #764A82;
  padding-left: 1rem;
  font-size: 1.2rem;
}
@media  (max-width: 450px) {
  .content_arne  h2 span {
    font-size: .9rem;
    padding-left: 0;
  }
}
.content_arne h2 p {
  padding-left: 0;
  line-height: 2rem;
  color: #000000;
}
@media  (max-width: 450px) {
  .content_arne h2 p {
    font-size: .9rem;
  }
}
.arne__foto-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.arne__foto-wrapper > * {
    width: 33%;
}
@media  (max-width: 600px) {
  .arne__foto-wrapper > * {
    width: 100%;
}
}
.arne__close {
  width: 3rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  border:none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
@media  (max-width: 668px) {
  .arne__close {
    width: 2rem;
  }
}
.arne__info-wrapper {
  width: 60%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem;
  margin-bottom: 2rem;
  }

  @media  (max-width: 668px) {
    .arne__info-wrapper {
      width: 100%;
      padding: 1.5rem;
    }
  }

/*inova*/

.modal_inova {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.7);
  z-index: 1000;
}
.modal_inova--hide {
  display: none;
}
.content_inova {
  background-color: #fefefe;
  padding: 2rem;
    margin: 0 auto;
    width: 90%;
    z-index: 2000;
    position: relative;
}
.inova__foto-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.content_inova h2 {
  color: #404040;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.content_inova h2 span {
  color: #764A82;
  padding-left: 1rem;
  font-size: 1.2rem;
}
@media  (max-width: 450px) {
  .content_inova  h2 span {
    font-size: .9rem;
    padding-left: 0;
  }
}
.content_inova h2 p {
  font-size: .9rem;
}

@media  (max-width: 450px) {
  .content_inova  h2 span {
    font-size: .9rem;
    padding-left: 0;
  }
}
.inova__foto-wrapper > * {
    width: 33%;
}
@media  (max-width: 600px) {
  .inova__foto-wrapper  > * {
    width: 100%;
}
}
.inova__close {
  width: 3rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  border:none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
@media  (max-width: 668px) {
  .inova__close {
    width: 2rem;
  }
}
.inova__info-wrapper {
  width: 60%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem;
  margin-bottom: 2rem;
  }

  @media  (max-width: 668px) {
    .inova__info-wrapper {
      width: 100%;
      padding: 1.5rem;
    }
  }

/*feest*/
.modal_feest {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.7);
  z-index: 1000;
}
.modal_feest--hide {
  display: none;
}
.content_feest {
  background-color: #fefefe;
  padding: 2rem;
    margin: 0 auto;
    /* margin-right: 0; */
    width: 90%;
    z-index: 2000;
    /* height: 100%; */
    position: relative;
}
.feest__foto-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.content_feest h2 {
  color: #404040;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.content_feest h2 span {
  color: #764A82;
  padding-left: 1rem;
  font-size: 1.2rem;
}
@media  (max-width: 450px) {
  .content_feest  h2 span {
    font-size: .9rem;
    padding-left: 0;
  }
}
.content_feest h2 p {
  padding-left: 0;
  line-height: 2rem;
  color: #000000;
}
@media  (max-width: 450px) {
  .content_feest h2 p {
    font-size: .9rem;
    
  }
}
.feest__foto-wrapper > * {
    width: 33%;
}
@media  (max-width: 600px) {
  .feest__foto-wrapper  > * {
    width: 100%;
}
}
.feest__close {
  width: 3rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  border:none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
@media  (max-width: 668px) {
  .feest__close {
    width: 2rem;
  }
}
.feest__info-wrapper {
  width: 60%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem;
  margin-bottom: 2rem;
  }

  @media  (max-width: 668px) {
    .feest__info-wrapper {
      width: 100%;
      padding: 1.5rem;
    }
  }