* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.container {
  margin: 0 auto;
  padding:  0 2rem;
}
ul {
  list-style: none;
}

img {
  width: 100%;
}
/* #764A82 */

.text-center {
  text-align: center;
  
}
.active {
  text-decoration: underline !important;
  font-weight: bold;
}